@media (max-width: 500px) {
    /* Partie Menu */
    .menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
      a {
        text-decoration: none;
        height: $menu-height;
        width: $menu-width;
        display: flex;
        margin: 25px auto 25px auto;
      }  
    }
    
    .menu_note {
        @include menu_; 
        background-color: $background-color-note;
        font-family: 'Devonshire', cursive;
    }

    .menu_chic {
        @include menu_;
        background-color: $background-color-chic;
        font-family: 'Kurale', serif;
    }
    
    .menu_delice {
        @include menu_;
        background-color: $background-color-delice;
        font-family: 'Dancing Script', cursive;
    }
    
    .menu_palette {
        @include menu_;
        background-color: $background-color-palette;
        font-family: 'Kaushan Script', cursive;
    }

    /* Partie prochainement */

    .prochainement {
        width: 220px;
        border-radius: 5px;
        text-align: center;
        background-color: #579c87;
        color: #fdcb46;
        margin: auto;
        margin-bottom: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    
    .anim_prochainement {
        width: 5px;
        height: 5px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            width: 0;
            height: 0;
            background-color: #fdcb46;
            border-radius: 50%;
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1)
        }
    }

}
