/* Partie Menu La note enchantée */

.carte_menu_note {
    @include carte_menu_;
    background-color: $background-color-note;
    font-family: 'Devonshire', cursive;
    img {
        height: 50px;
        width: auto;
        margin-top: 20px;
    }
}

ul {
    list-style-type: none;
    li {
        padding-right: 40px;
    }
}

h2 {
    text-align: center;
    margin: 25px auto 10px auto;
}

.note_titre {
    display: flex;
    margin: auto;
    img {
        margin-top: 12px;
        padding-right: 10px;
        height: 50px;
        width: auto;
    }
}

.titre {
    display: flex;
    align-items: center;
    text-align: center;
}  
    
.titre::before,
.titre::after {
    content: "";
    flex: 1;
    margin: 0 25px;
    border-top: $border-top-titre-note;
}

@media (min-width: 700px) {
    .titre::before,
    .titre::after {
        margin: 0 50px;   
    }

    .plats {
        li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        ul {
            margin: auto 10px auto 10px;
        }
    }
}

@media (min-width: 1024px) {
    .titre::before,
    .titre::after {
        margin: 0 75px;   
    }

    .plats {
        ul {
            margin: auto 30px auto 30px;
        }
    }
}

/* Partie Menu Le chic a la française */

.carte_menu_chic {
    @include carte_menu_;
    background-color: $background-color-chic;
    font-family: 'Kurale', serif;
}

ul {
    list-style-type: none;
    li {
        padding-right: 40px;
    }
}

h1 {
    text-align: center;
    margin: 25px auto 10px auto;
}

.titre_h2_chic{
    background: linear-gradient(to right, #d8852e 0%, #3e2290 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titre_image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 25px;
}

.trait {
    width: 10%;
    height: auto;
}

.rotateimg180 {
    transform: rotate(180deg);
    width: 10%;
    height: auto;
}

.appetit {
    color: rgb(204, 161, 82);
}

.papilles {
    color: rgb(142, 108, 235);
}

.gourmandises {
    color: rgb(91, 37, 240);
}

@media (min-width: 700px) {
    .trait {
        width: 25%;
    }

    .rotateimg180 {
        width: 25%;
    }
}

@media (min-width: 1024px) {
    .trait {
        width: 30%;
    }

    .rotateimg180 {
        width: 30%;
    }
}

/* Partie Menu Le délice des papilles */

.carte_menu_delice {
    @include carte_menu_;
    background-color: $background-color-delice;
    font-family: 'Dancing Script', cursive;
}

ul {
    list-style-type: none;
    li {
        padding-right: 40px;
    }
}

h1 {
    text-align: center;
    margin: 25px auto 10px auto;
}

.titre_h2_delice {
    background: linear-gradient(to bottom right, #0431df, #0887fb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rotateimg {
    transform: scaleX(-1);
    width: 10%;
    height: auto;
}

@media (min-width: 700px) {
    .rotateimg {
        width: 25%;
    }
}

@media (min-width: 1024px) {
    .rotateimg {
        width: 30%;
    }
}

/* Partie Menu La palette du goût */

.carte_menu_palette {
    @include carte_menu_;
    background-color: $background-color-palette;
    font-family: 'Kaushan Script', cursive;
}

ul {
    list-style-type: none;
    li {
        padding-right: 40px;
    }
}

h1 {
    text-align: center;
    margin: 25px auto 10px auto;
}

.titre_h2_palette {
    background: linear-gradient(to right, #3d9339 0%, #bfff7e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}