$color-header-footer: #579c87;
$menu-height: 450px;
$menu-width: 300px;
$box-shadow-menu: 0 0 7px #dddddd;
$background-color-note: #fcdfdb;
$background-color-chic: #fff5fe;
$background-color-delice: #eef0f0;
$background-color-palette: #fdfffd;